@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("https://img.freepik.com/premium-photo/top-view-desk-with-earphones-phone-laptop-watch-isolated-white-background_336260-195.jpg?size=626&ext=jpg&ga=GA1.1.1712026110.1698995654&semt=ais");
    height: 100vh;
    background-size: cover;
}

.name-card {
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 20px;
    width: 350px;
}

.main-heading {
    color: #756c64;
    font-family: "playfairsdiscsc";
    font-size: 30px;
    text-decoration: underline;
}

.paragraph {
    color: #4f4b47;
    font-family: breeserif;
    font-size: 20px;
}

.shop-button {
    height: 35px;
    width: 136px;
    margin-left: 125px;
    color: black;
    font-weight: bold;
}

.types-of-gadgets-container {
    background-image: url("https://i.pinimg.com/236x/8e/ee/04/8eee04aeefee34699b413b5a55079b82.jpg");
    height: 100vh;
    background-size: cover;
    padding: 20px;
}

.electronics-heading {
    color: white;
    font-size: 30px;
    font-family: breeserif;
    padding: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.electronics-card-container {
    text-align: center;
    background-color: white;
    border-radius: 15px;
    margin: 20px;
}

.electronics-card-image {
    height: 145px;
    width: 175px;
    margin: 10px;
}

.electronics-card-name {
    color: #616e7c;
    font-size: 28px;
    font-family: roboto;
    text-decoration: underline;
}

.electronics-models-bg-container {
    padding: 10px;
    background-color: #a1bfa9;
}

.electronics-brand-heading {
    font-family: breeserif;
    font-size: 28px;
    color: white;
    font-weight: bold;
    padding-left: 8px;
}

.electronics-models-card-container {
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    width: 200px;
}

.electronics-models-card-image {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}


.electronics-models-card-heading {
    color: #a1bfa9;
    font-size: 22px;
    font-family: roboto;
    font-weight: bold;
    padding-top: 8px;
}

.electronics-models-card-description {
    font-family: breeserif;
    font-size: 15px;
    text-decoration: underline;
}

.more-button {
    margin-left: 8px;
    margin-bottom: 25px;
    background-color: white;
    color: #a1bfa9;
    height: 45px;
    width: 100px;
    border-radius: 8px;
    border: 0;
}

.back-button {
    margin-left: 20px;
    margin-bottom: 15px;
}